[submodule "imgui"]
	path = Externals/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "zlib"]
	path = Externals/zlib
	url = https://github.com/madler/zlib.git
[submodule "glm"]
	path = Externals/glm
	url = https://github.com/g-truc/glm.git
[submodule "assimp"]
	path = Externals/assimp
	url = https://github.com/assimp/assimp.git
[submodule "rapidjson"]
	path = Externals/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "minizip"]
	path = Externals/minizip
	url = https://github.com/nmoinvaz/minizip.git
[submodule "lua"]
	path = Externals/lua
	url = https://github.com/lua/lua.git
[submodule "Working_Directory/Paks"]
	path = Working_Directory/Paks
	url = https://github.com/subr3v/s-engine-data.git
