Sprite, shaders/sprite.hlsl
SpritePoint, shaders/sprite_point.hlsl, GEOMETRY_SHADER
Diffuse, shaders/diffuse.hlsl, USE_ALBEDO_TEXTURE
DiffuseNormal, shaders/diffuse.hlsl, USE_ALBEDO_TEXTURE, NORMAL_MAPPING
DiffuseNormalRoughness, shaders/diffuse.hlsl, USE_ALBEDO_TEXTURE, NORMAL_MAPPING, USE_ROUGHNESS_TEXTURE
DiffuseNormalRoughnessRefraction, shaders/diffuse.hlsl, USE_ALBEDO_TEXTURE, NORMAL_MAPPING, USE_ROUGHNESS_TEXTURE, USE_REFRACTION_TEXTURE
DiffuseRoughness, shaders/diffuse.hlsl, USE_ALBEDO_TEXTURE, USE_ROUGHNESS_TEXTURE
DiffuseRoughnessRefraction, shaders/diffuse.hlsl, USE_ALBEDO_TEXTURE, USE_ROUGHNESS_TEXTURE, USE_REFRACTION_TEXTURE
FlatColour, shaders/diffuse.hlsl
FullScreen, shaders/PostProcess/fullscreen_colour.hlsl
Downsample, shaders/PostProcess/downsample.hlsl
ThresholdLuminance, shaders/PostProcess/downsample_threshold.hlsl
OneAxisBlur, shaders/PostProcess/axis_blur.hlsl
Copy, shaders/PostProcess/texture_pass.hlsl
ToneMap, shaders/PostProcess/tone_mapping.hlsl
Luminance, shaders/PostProcess/luminance_pass.hlsl
LuminanceAdaption, shaders/PostProcess/luminance_adaption.hlsl
AmbientOcclusion, shaders/PostProcess/ambient_occlusion.hlsl
DepthNormal, shaders/depth_normal.hlsl
DepthNormalBump, shaders/depth_normal.hlsl, NORMAL_MAPPING
Depth, shaders/depth_shadow.hlsl