Sprite, shaders/sprite.hlsl
SpritePoint, shaders/sprite_point.hlsl, GEOMETRY_SHADER
Diffuse, shaders/diffuse.hlsl, USE_ALBEDO_TEXTURE
FlatColour, shaders/diffuse.hlsl
FullScreen, shaders/PostProcess/fullscreen_colour.hlsl
CombinePass, shaders/PostProcess/combine_pass.hlsl
Copy, shaders/PostProcess/texture_pass.hlsl